<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <header>
        <a href="/assignment8" > Assignment 8 </a> | <a href="/assignment9" > Assignment 9 </a>
        {% if session.username %}
            <h1> Log In, {{ session.username }} !</h1>
           | <a href="/logout">Logout</a>
        {% endif %}
 | <a href="/assignment10" > Assignment 10</a>
    {% if session.UserName %}
        | Login {{ session.UserName }} | <a href="/logout">Log out</a>
    {% endif %}
      |
      <a href="/assignment11/users">Assignment 11 - Users</a>
      | <a href="/assignment11/outer_source" > Assignment 11 - Outer Source</a>
      |<a href="/assignment12/restapi_users"> Assignment 12 </a>
    {% if session.UserName %}
        | Login {{ session.UserName }}| <a href="/logout">Log out</a>

    {% endif %}
    </header>
</body>
</html>