#container {
    background-color: blueviolet;
    display: grid;
    grid-template-areas: 'header header header' 'right main left';
}

#header{
    background-color: cornsilk;
    text-align-last: center;
    grid-area: header;
}

#PI{
    grid-area: right;
}

#SI{
    grid-area: left;
}

#WE{
    grid-area: main;
}
@media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
  }

  @media screen and (max-width: 700px) {
    body {
      background-color: red;
    }
  }